{{ dt }}
<div class="form-group netrino-form">
  <label for="igroup">Interface Group:</label>
  <select id="igroup" name="interface_group" class="form-control" required>
    <option value="">Select Interface Group</option>
  </select>
</div>
<script>
    var element = $('#igroup').select2({
      placeholder: 'Select Interface Group'
    });
    $.getJSON( '{{app}}/infrastructure/network/igroups/view', { view: 'select2' } ).then( function( data ) {
      for (var d = 0; d < data.length; d++) {
              var item = data[d];
              var option = new Option(item.text, item.id, true, false);
              element.append(option);
      }
      element.trigger('change');
    });
</script>