<!-- <form method="post" class="form-horizontal netrino-form">-->
<div class="netrino-form">  
  <div class="form-group">
      <label for="service">Service Name:</label>
      <input type="text" id="name" name="name" class="form-control" value="{{ serviceName }}" {% if view %}readonly{% else %}required{% endif %}>
    </div>
    <div class="form-group">
      <label for="igroup">Interface Group:</label>
      <select id="igroup" name="interface_group" class="form-control" {% if view %}disabled{% else %}required{% endif %}>
        <option value="">
          {% if view %}
            {{ interfaceGroup }}
          {% else %}
          Select Interface Group
          {% endif %}
        </option>
      </select>

    </div>
    <div class="form-group">
      <label for="userrole">User Role:</label>
      <select id="user_role" class="form-control" name="user_role" {% if view %}disabled{% else %}required{% endif %}>
        <option value="">
            Select User Role
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="ip">Config:</label>
      <textarea rows="15" class="form-control" id="config_snippet" name="config_snippet"{% if view %}readonly{% else %}required{% endif %}>{{ snippet|e }}</textarea>
    </div>
    <div class="form-group">
      <label for="ip">Activation config:</label>
      <textarea rows="15" class="form-control" id="activate_snippet" name="activate_snippet"{% if view %}readonly{% endif %}>{{ activate|e if activate != None }}</textarea>
    </div>
    <div class="form-group">
      <label for="ip">Deactivation config:</label>
      <textarea rows="15" class="form-control" id="deactivate_snippet" name="deactivate_snippet"{% if view %}readonly{% endif %}>{{ deactivate|e if deactivate != None }}</textarea>
    </div>
</div>

<script>
  function populateSelect2(path, element) {
      var s2element = $(element).select2();
      $.ajax({
        url: '{{app}}/' + path,
        type: 'GET',
        dataType: 'json',
        success: function( data ) {
          for (var d = 0; d < data.length; d++) {
                var item = data[d];
                if (item.id == "{{userRole}}" || item.id == "{{interfaceGroup}}") {
                  var option = new Option(item.text, item.id, true, true);
                }
                else{
                  var option = new Option(item.text, item.id, true, false);
                }
                s2element.append(option);
          }
          s2element.trigger('change');
        },
        beforeSend: setHeader
      });
      function setHeader(xhr) {
        xhr.setRequestHeader('X-Format', 'select2');
      }
  }
</script>

<script>
  $(document).ready(function(){
    populateSelect2('infrastructure/network/igroups/view', '#igroup');
    populateSelect2('roles', '#user_role');
  });
</script>